.Post {
  max-width: 600px;
  display: flex;
  flex-direction: row;
  gap: 1ch;
  background-color: var(--card-background-color);
  color: var(--card-color);
  border-radius: .5rem;
  padding: 0.5rem;
}

.Column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;gap: 0.5rem;
}

.Row {
  display: flex;
  flex-direction: row;
  align-items: center;;
  gap: 0.5rem;
}

.Link {
  text-decoration: none;
  color: var(--card-color);
  display: flex;
  flex-direction: row;
  align-items: center;;
  gap: 0.5rem;
}
.Link:hover {
  color: var(--card-color);
  text-decoration: underline;
}

.User {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1ch;
}

.Avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
}

.DisplayName {
  font-weight: bold;
}

.Handle {
  font-size: var(--font-size-0);
  color: var(--color-dim);
}
