.Post {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--card-color);
  padding: 0 0.5rem;
  position: relative;
}
.Post[data-type="root"] {
  margin-bottom: 2rem;
}
.Post[data-is-leaf-node] {
  margin-bottom: 1rem;
}

.ChildConnectorLine {
  position: absolute;
  width: 2px;
  left: 2rem;
  top: 3rem;
  bottom: 0;
  background-color: var(--border-color);
}

.Top {
  display: flex;
  flex-direction: column;
  color: var(--card-color);
  gap: 0.5rem;
}

.RepostedBy {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  font-size: var(--font-size-0);
  color: var(--color-dim);
}

.Author {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.AuthorColumn {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.AuthorTopRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.AuthorBottomRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
}

.DisplayNameLink {
  font-weight: bold;
  text-decoration: none;
  color: var(--card-color);
}
.DisplayNameLink:hover {
  text-decoration: underline;
}

.HandleLink {
  font-size: var(--font-size-0);
  color: var(--color-dim);
  text-decoration: none;
}
.HandleLink:hover {
  color: var(--card-color);
  text-decoration: underline;
}

.PostLink {
  font-size: var(--font-size-0);
  color: var(--color-dim);
  text-decoration: none;
}
.PostLink:hover {
  color: var(--card-color);
  text-decoration: underline;
}

.MenuButton {
  background: transparent;
  border: none;
  padding: 0;
  outline: none;
  appearance: none;
  color: var(--color-dim);
  cursor: pointer;
}
.MenuButton:hover,
.MenuButton:focus {
  outline: none;
  border: none;
  color: var(--color);
}

.MenuIcon {
  width: 1rem;
  height: 1rem;
}

.Text {
  font-size: var(--font-size-1);
  white-space: pre-wrap;
  word-break: break-word;
}
.Post[data-type="nested"] .Text {
  margin-left: 3.5rem;
}

.Time {
  font-size: var(--font-size-0);
  color: var(--color-dim);
  flex: 1 1 auto;
}

.Bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.ActionsRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.ActionButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  color: var(--color-dim);
  background: transparent;
  border: none;
  padding: 0;
  outline: none;
  appearance: none;
  cursor: pointer;
}
.ActionButton:disabled {
  opacity: 0.5;
}
.ActionButton:hover,.ActionButton:focus {
  outline: none;
  border: none;
  color: var(--color);
}
.ActionButton[data-action="liked"] {
  color: var(--color-action-liked);
}
.ActionButton[data-action="shared"] {
  color: var(--color-action-shared);
}

.ActionIcon {
  width: 1.25rem;
  height: 1.25rem;
}

.Spacer {
  flex: 1 1 auto;
}
