.Post {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 1ch;
    color: var(--card-color);
    padding: 0.5rem;
  }
  
  .Column {
    display: flex;
    flex-direction: column;
  }

  .Row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
  
  .Link {
    text-decoration: none;
    color: var(--card-color);
    display: flex;
    flex-direction: row;
    align-items: center;;
    gap: 0.5rem;
  }
  .Link:hover {
    color: var(--card-color);
    text-decoration: underline;
  }
  
  .User {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1ch;
  }
  
  .Avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
  }
  
  .DisplayName {
    font-weight: bold;
  }

  .Handle {
    font-size: var(--font-size-0);
    color: var(--color-dim);
  }

  .Content {
    font-size: var(--font-size-2);
  }

  .Time {
    font-size: var(--font-size-0);
    color: var(--color-dim);
  }

  .ActionsRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

.ActionButton {
  background: transparent;
  border: none;
  padding: 0;
  outline: none;
  appearance: none;
  color: var(--color-dim);
  cursor: pointer;
}
.ActionButton:hover,.ActionButton:focus {
  outline: none;
  border: none;
  color: var(--color);
}
